p{
    font-size: 19px;
    font-family: "Aleo";
    color: rgb(59, 59, 59);
    line-height: 4.286;
    text-align: right;
    position: absolute;
    left: 815.937px;
    top: 50.248px;
    z-index: 199;
    right: 200px;
    word-spacing: 4.3em;
  }
.Our_Story____________Menu____________Reservatio {
  font-size: 14px;
  font-family: "Aleo";
  color: rgb(59, 59, 59);
  line-height: 4.286;
  text-align: right;
  position: absolute;
  left: 810.937px;
  top: 84.248px;
  z-index: 199;
}


#a1{ 
        position: absolute;
        left: 400px;
        top: 50px;
        width: 69px;
        height: 30px;
        z-index: 196;
      }
#a2{
    color: rgb(243, 73, 73);
    position: absolute;
    left: 470px;
    top: 61px;
    width: 12px;
    height: 7px;
    z-index: 197;
  }
.Layer_1 {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 0px 0px rgba(243, 73, 73, 0.004);
    position: absolute;
    left: 200px;
    top: 150px;
    width: 1500px;
    height: 570px;
    z-index: 166;
  }
.The_Menu {
  font-size: 20px;
  font-family: "Aleo";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 3;
  text-align: center;
  position: absolute;
  left: 890px;
  top: 723px;
  z-index: 162;
}
.Shape_13 {
  position: absolute;
  left: 865px;
  top: 723px;
  width: 155px;
  height: 75px;
  z-index: 161;
}
.Shape_11 {
    background-color: rgb(227, 225, 225);
    position: absolute;
    left: 620px;
    top: 845px;
    width: 192px;
    height: 1px;
    z-index: 157;
  }
  ._50 {
    font-size: 16px;
    font-family: "Aleo";
    color: rgb(85, 85, 85);
    text-align: right;
    line-height: 3.75;
    position: absolute;
    left: 855px;
    top: 825px;
    z-index: 156;
  }
  .Voluptate_cillum_fugiat{
    font-size: 16px;
    font-family: "Aleo";
    color: rgb(85, 85, 85);
    line-height: 3.75;
    text-align: left;
    position: absolute;
    left: 395px;
    top: 825px;
    z-index: 155;
  }
  .Cheese__tomato__mushrooms__onions_ {
    font-size: 12px;
    font-family: "Aleo";
    color: rgb(183, 183, 183);
    font-style: italic;
    line-height: 5;
    text-align: left;
    position: absolute;
    left: 395px;
    top: 835px;
    z-index: 154;
  }
  .Shape_112 {
    background-color: rgb(227, 225, 225);
    position: absolute;
    left: 620px;
    top: 945px;
    width: 212px;
    height: 1px;
    z-index: 151;
  }  
  ._62 {
    font-size: 16px;
    font-family: "Aleo";
    color: rgb(85, 85, 85);
    line-height: 3.75;
    text-align: right;
    position: absolute;
    left: 855px;
    top: 925px;
    z-index: 150;
  }
  .Metus_varius_laoreet_ {
    font-size: 16px;
    font-family: "Aleo";
    color: rgb(85, 85, 85);
    line-height: 3.75;
    text-align: left;
    position: absolute;
    left: 395px;
    top: 925px;
    z-index: 149;
  }
  .Chicken__mozzarella_cheese__onions_ {
    font-size: 12px;
    font-family: "Aleo";
    color: rgb(183, 183, 183);
    font-style: italic;
    line-height: 5;
    text-align: left;
    position: absolute;
    left: 395px;
    top: 936px;
    z-index: 148;
  }
  .Shape_113 {
    background-color: rgb(227, 225, 225);
    position: absolute;
    left: 620px;
    top: 1045px;
    width: 199px;
    height: 1px;
    z-index: 145;
  }
  
  ._25 {
    font-size: 16px;
    font-family: "Aleo";
    color: rgb(85, 85, 85);
    line-height: 3.75;
    text-align: right;
    position: absolute;
    left: 855px;
    top: 1025px;
    z-index: 144;
  }
  .Donec_sodales_magna_ {
    font-size: 16px;
    font-family: "Aleo";
    color: rgb(85, 85, 85);
    line-height: 3.75;
    text-align: left;
    position: absolute;
    left: 395px;
    top: 1025px;
    z-index: 143;
  }
  .Tuna__Sweetcorn__Cheese_ {
    font-size: 12px;
    font-family: "Aleo";
    color: rgb(183, 183, 183);
    font-style: italic;
    line-height: 5;
    text-align: left;
    position: absolute;
    left: 395px;
    top: 1036px;
    z-index: 142;
  }
  .Shape_114 {
    background-color: rgb(227, 225, 225);
    position: absolute;
    left: 620px;
    top: 1145px;
    width: 218px;
    height: 1px;
    z-index: 139;
  }
  
  ._30 {
    font-size: 16px;
    font-family: "Aleo";
    color: rgb(85, 85, 85);
    line-height: 3.75;
    text-align: right;
    position: absolute;
    left: 855px;
    top: 1125px;
    z-index: 138;
  }
  .Saugue_velit_cursus_ {
    font-size: 16px;
    font-family: "Aleo";
    color: rgb(85, 85, 85);
    line-height: 3.75;
    text-align: left;
    position: absolute;
    left: 395px;
    top: 1125px;
    z-index: 137;
  }
  .Pineapple__Minced_Beef__Cheese_ {
    font-size: 12px;
    font-family: "Aleo";
    color: rgb(183, 183, 183);
    font-style: italic;
    line-height: 5;
    text-align: left;
    position: absolute;
    left: 395px;
    top: 1136px;
    z-index: 136;
  }
  .Shape_115 {
    background-color: rgb(227, 225, 225);
    position: absolute;
    left: 1200px;
    top: 845px;
    width: 205px;
    height: 1px;
    z-index: 131;
  }
  
  ._45 {
    font-size: 16px;
    font-family: "Aleo";
    color: rgb(85, 85, 85);
    line-height: 3.75;
    text-align: right;
    position: absolute;
    left: 1435px;
    top: 825px;
    z-index: 130;
  }
  .Arcu_pede_enim_justo_ {
    font-size: 16px;
    font-family: "Aleo";
    color: rgb(85, 85, 85);
    line-height: 3.75;
    text-align: left;
    position: absolute;
    left: 975px;
    top: 825px;
    z-index: 129;
  }
  .Tuna__Sweetcorn__Cheese_2 {
    font-size: 12px;
    font-family: "Aleo";
    color: rgb(183, 183, 183);
    font-style: italic;
    line-height: 5;
    text-align: left;
    position: absolute;
    left: 975px;
    top: 836px;
    z-index: 128;
  }
  .Shape_116 {
    background-color: rgb(227, 225, 225);
    position: absolute;
    left: 1200px;
    top: 945px;
    width: 180px;
    height: 1px;
    z-index: 125;
  }
  ._32 {
    font-size: 16px;
    font-family: "Aleo";
    color: rgb(85, 85, 85);
    line-height: 3.75;
    text-align: right;
    position: absolute;
    left: 1435px;
    top: 925px;
    z-index: 124;
  }
  .Cras_dapibussemper_nisi_ {
    font-size: 16px;
    font-family: "Aleo";
    color: rgb(85, 85, 85);
    line-height: 3.75;
    text-align: left;
    position: absolute;
    left: 975px;
    top: 925px;
    z-index: 123;
  }
  .Pineapple__Minced_Beef__Cheese_2 {
    font-size: 12px;
    font-family: "Aleo";
    color: rgb(183, 183, 183);
    font-style: italic;
    line-height: 5;
    text-align: left;
    position: absolute;
    left: 975px;
    top: 936px;
    z-index: 122;
  }
  .Shape_117 {
    background-color: rgb(227, 225, 225);
    position: absolute;
    left: 1200px;
    top: 1045px;
    width: 213px;
    height: 1px;
    z-index: 119;
  }
  ._15 {
    font-size: 16px;
    font-family: "Aleo";
    color: rgb(85, 85, 85);
    line-height: 3.75;
    text-align: right;
    position: absolute;
    left: 1435px;
    top: 1025px;
    z-index: 118;
  }
  .Quam_semper_libero_ {
    font-size: 16px;
    font-family: "Aleo";
    color: rgb(85, 85, 85);
    line-height: 3.75;
    text-align: left;
    position: absolute;
    left: 975px;
    top: 1025px;
    z-index: 117;
  }
  .Cheese__tomato__mushrooms__onions_2 {
    font-size: 12px;
    font-family: "Aleo";
    color: rgb(183, 183, 183);
    font-style: italic;
    line-height: 5;
    text-align: left;
    position: absolute;
    left: 975px;
    top: 1036px;
    z-index: 116;
  }
  .Shape_118 {
    background-color: rgb(227, 225, 225);
    position: absolute;
    left: 1200px;
    top: 1145px;
    width: 218px;
    height: 1px;
    z-index: 113;
  }
  
  ._35 {
    font-size: 16px;
    font-family: "Aleo";
    color: rgb(85, 85, 85);
    line-height: 3.75;
    text-align: right;
    position: absolute;
    left: 1435px;
    top: 1125px;
    z-index: 112;
  }
  .Nam_eget_dui_Etiam_ {
    font-size: 16px;
    font-family: "Aleo";
    color: rgb(85, 85, 85);
    line-height: 3.75;
    text-align: left;
    position: absolute;
    left: 975px;
    top: 1125px;
    z-index: 111;
  }
  .Chicken__mozzarella_cheese__onions_2 {
    font-size: 12px;
    font-family: "Aleo";
    color: rgb(183, 183, 183);
    font-style: italic;
    line-height: 5;
    text-align: left;
    position: absolute;
    left: 975px;
    top: 1136px;
    z-index: 110;
  }
  .Footer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1500px;
  height: 3088px;
  z-index: 18;
}
.Copyright {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1500px;
  height: 3088px;
  z-index: 17;
}
.Resto_Logo_copy {
  position: absolute;
  left: 1270px;
  top: 2900px;
  width: 12px;
  height: 7px;
  z-index: 16;
}
.Resto_Logo {
  position: absolute;
  left: 1200px;
  top: 2889px;
  width: 69px;
  height: 30px;
  z-index: 15;
}
.©_All_Rights_Reserved_2014__Find__More_at_Pixel {
  font-size: 14px;
  font-family: "Aleo";
  color: rgb(236, 236, 236);
  line-height: 2.143;
  text-align: left;
  position: absolute;
  left: 1200.937px;
  top: 2950.249px;
  z-index: 14;
}
.Links {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1500px;
  height: 3088px;
  z-index: 12;
}
.Blog_Careers_Privacy_Policy_Contact {
  font-size: 16px;
  font-family: "Aleo";
  color: rgb(255, 255, 255);
  line-height: 2.188;
  text-align: left;
  position: absolute;
  left: 950px;
  top: 2891.509px;
  z-index: 11;
}
.Franc_Address {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1500px;
  height: 3088px;
  z-index: 9;
}
.France_Restaurant_68__rue__de_la_Couronne_75002 {
  font-size: 16px;
  font-family: "Aleo";
  color: rgb(255, 255, 255);
  line-height: 1.875;
  text-align: left;
  position: absolute;
  left: 650px;
  top: 2891.509px;
  z-index: 8;
}
.NY_Address {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1500px;
  height: 3088px;
  z-index: 6;
}
.New_York_Restaurant_3926_Anmoore_Road_New_York_ {
  font-size: 16px;
  font-family: "Aleo";
  color: rgb(255, 255, 255);
  line-height: 1.875;
  text-align: left;
  position: absolute;
  left: 350px;
  top: 2891.509px;
  z-index: 5;
}
.Shape_17 {
  background-color: rgb(59, 59, 59);
  position: absolute;
  left: 200px;
  top: 2771px;
  width: 1502px;
  height: 317px;
  z-index: 3;
}

  .Load_More_Btn {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1500px;
  height: 3088px;
  z-index: 107;
}
.Shape_16 {
  position: absolute;
  left: 965px;
  top: 1253px;
  width: 1px;
  height: 12px;
  z-index: 106;
}
.Shape_14 {
  position: absolute;
  left: 975px;
  top: 1252px;
  width: 11px;
  height: 7px;
  z-index: 105;
}
.load_more {
  font-size: 14px;
  font-family: "Aleo";
  color: rgb(183, 183, 183);
  line-height: 1.429;
  text-align: center;
  position: absolute;
  left: 885px;
  top: 1252.997px;
  z-index: 104;
}
.Shape_15 {
  border-color: rgb(215, 213, 213);
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 870px;
  top: 1243px;
  width: 137px;
  height: 38px;
  z-index: 103;
}
.Featured_Dishes {
  font-size: 20px;
  font-family: "Aleo";
  color: rgb(59, 59, 59);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 3;
  text-align: left;
  position: absolute;
  left: 196.87px;
  top: 1457.5px;
  z-index: 97;
}
.Shape_12 {

  position: absolute;
  left: 413px;
  top: 1487px;
  width: 200px;
  height: 1px;
  z-index: 98;
}
.Navigation {
  position: absolute;
  left: 1395px;
  top: 1480px;
  width: 1500px;
  height: 3088px;
  z-index: 95;
}
.The_Gallery {
  font-size: 22px;
  font-family: "Aleo";
  color: rgb(59, 59, 59);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.727;
  text-align: left;
  position: absolute;
  left: 198.426px;
  top: 2021.003px;
  z-index: 33;
}
.Shape_122 {
  position: absolute;
  left: 377px;
  top: 2051px;
  width: 200px;
  height: 1px;
  z-index: 34;
}
.Shape_18 {
  position: absolute;
  left: 200px;
  top: 2139px;
  width: 366px;
  height: 432px;
  z-index: 21;
}
.Layer_13_copy {
  position: absolute;
  left: 566px;
  top: 2139px;
  width: 373px;
  height: 248px;
  z-index: 26;
}
.Layer_17 {
  position: absolute;
  left: 566px;
  top: 2355px;
  width: 377px;
  height: 253px;
  z-index: 24;
}
.Layer_17_copy {
  position: absolute;
  left: 932px;
  top: 2139px;
  width: 437px;
  height: 291px;
  z-index: 30;
}
.Layer_15_copy {
  position: absolute;
  left: 932px;
  top: 2355px;
  width: 385px;
  height: 257px;
  z-index: 28;
}
.Layer_4 {
  position: absolute;
  left: 200px;
 top: 1574px;
  width: 306px;
  height: 204px;
  z-index: 88;
}
.Fugiat_nulla_sint {
  font-size: 16px;
  font-family: "Aleo";
  color: rgb(85, 85, 85);
  line-height: 3.75;
  text-align: left;
  position: absolute;
  left: 198.937px;
  top: 1841.546px;
  z-index: 78;
}
.__30 {
  font-size: 16px;
  font-family: "Aleo";
  color: rgb(85, 85, 85);
  line-height: 3.75;
  text-align: left;
  position: absolute;
  left: 400.082px;
  top: 1841.098px;
  z-index: 79;
}
.Rating {
  position: absolute;
  left: 198px;
  top: 1890px;
  width: 1500px;
  height: 3088px;
  z-index: 86;
}
  .Layer_5 {
  position: absolute;
  left: 540px;
  top: 1574px;
  width: 305px;
  height: 202px;
  z-index: 75;
}
.Daute_irure_dolor {
  font-size: 16px;
  font-family: "Aleo";
  color: rgb(85, 85, 85);
  line-height: 3.75;
  text-align: left;
  position: absolute;
  left: 540px;
  top: 1841px;
  z-index: 65;
}
.Rating2 {
  position: absolute;
  left: 540px;
  top: 1890px;
  width: 1500px;
  height: 3088px;
  z-index: 73;
}
._24 {
  font-size: 16px;
  font-family: "Aleo";
  color: rgb(85, 85, 85);
  line-height: 3.75;
  text-align: left;
  position: absolute;
  left: 740.082px;
  top: 1841px;
  z-index: 66;
}

.Layer_2 {
  position: absolute;
  left: 900px;
  top: 1574px;
  width: 305px;
  height: 203px;
  z-index: 62;
}
.Officia_deserunt_mollit {
  font-size: 16px;
  font-family: "Aleo";
  color: rgb(85, 85, 85);
  line-height: 3.75;
  text-align: left;
  position: absolute;
  left: 900px;
  top: 1841px;
  z-index: 52;
}
._60 {
  font-size: 16px;
  font-family: "Aleo";
  color: rgb(85, 85, 85);
  line-height: 3.75;
  text-align: left;
  position: absolute;
  left: 1100px;
  top: 1841px;
  z-index: 53;
}
.Rating3 {
  position: absolute;
  left: 900px;
  top: 1890px;
  width: 1500px;
  height: 3088px;
  z-index: 73;
}
.Layer_3 {
  position: absolute;
  left: 1235px;
  top: 1574px;
  width: 309px;
  height: 206px;
  z-index: 49;
}
.Pim_minim_veniam {
  font-size: 16px;
  font-family: "Aleo";
  color: rgb(85, 85, 85);
  line-height: 3.75;
  text-align: left;
  position: absolute;
  left: 1235px;
  top: 1841px;
  z-index: 39;
}
._17 {
  font-size: 16px;
  font-family: "Aleo";
  color: rgb(85, 85, 85);
  line-height: 3.75;
  text-align: left;
  position: absolute;
  left: 1440px;
  top: 1841px;
  z-index: 40;
}

  .Rating4 {
  position: absolute;
  left: 1235px;
  top: 1890px;
  width: 1500px;
  height: 3088px;
  z-index: 73;
} 
  .This_Template_Is_Awesome {
  font-size: 100px;
  font-family: "WCManoNegraBta";
  color: rgb(255, 255, 255);
  line-height: 0.6;
  text-align: center;
  position: absolute;
  left: 550px;
  top: 387.237px;
  z-index: 181;
}

.resto_restaurant_home_page_website_template {
  font-size: 16px;
  font-family: "Aleo";
  color: rgb(255, 255, 255);
  line-height: 3.75;
  text-align: center;
  position: absolute;
  left: 750px;
  top: 491.546px;
  z-index: 182;
}
.Shape_19_copy {
  position: absolute;
  left: 1130px;
  top: 505px;
  width: 40px;
  height: 1px;
  z-index: 185;
}
.Shape_19 {
  position: absolute;
  left: 680px;
  top: 505px;
  width: 40px;
  height: 1px;
  z-index: 184;
}
.Our_Story____________Menu____________Reservatio {
  font-size: 14px;
  font-family: "Aleo";
  color: rgb(59, 59, 59);
  line-height: 4.286;
  text-align: right;
  position: absolute;
  left: 1000px;
  top: 84.248px;
  z-index: 199;
}
